$colors: (
    'text': (
        'text-1': #fff,
        'text-2': #514F4C,
        'text-3': #181713,
        'text-4': #FBD459,
        'text-5': #72706C,
        'text-6': #01715D,
        'text-7': #FFA41C,
        'text-8': #170822,
        'text-9': #514E53,
        'text-10': #56227F,
        'text-11': #0E082B,
        'text-12': #0085FF,
        'text-13': #46475F,
        'text-14': #FF5F27,
        'text-15': #00263A,
        'text-16': #504F4E,
        'text-17': #F5F3F4,
        'text-18': #3F3F3F,
        'text-19': #FF5528,
        'text-20': #122F2A,
        'text-21': #636363,
        'text-22': #F1F6F7,
        'text-23': #C4559E,
        'text-24': #160911,
        'text-25': #514E50,
        'text-26': #F5F5F5,
        'text-27': #101608,
        'text-28': #8EC44D,
        'text-29': #D9EBC2,
        'text-30': #51544D,
    ),

    'bg': (
        'bg-1':#fff,
        'bg-2':#01715D,
        'bg-3': #FBD459,
        'bg-4': #F6F4EE, 
        'bg-5': #FBF7FF, 
        'bg-6': #E7E6EA, 
        'bg-7': #E6F3FF, 
        'bg-8': #FFF7F4, 
        'bg-9': #F4F9ED, 
    
    ),
    'border': (
        'border-1': #E5E7EB,
        'border-2': #dfdcdc,
    )
);

