@use '../utils' as *;

.vl-breadcrumb{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &:after{
        position: absolute;
        content: "";
        left: 0;
        top:0;
        height: 100%;
        width: 100%;
        background: #181713;
        opacity: .5;
        z-index: -1;
    }
    &-title{
        padding-top: 208px;
        padding-bottom: 100px;
        & .heading{
            color: var(--ztc-text-text-1);
            font-size: var(--ztc-font-size-font-s90);
            line-height: var(--ztc-specing-height90);
            font-family: var(--ztc-family-font2);
            font-weight: var(--ztc-weight-bold);
            padding-bottom: 24px;
            @media #{$md}{
                font-size: var(--ztc-font-size-font-s70);
                line-height: var(--ztc-specing-height80);
                padding-bottom: 10px;
            }
            @media #{$xs}{
                font-size: var(--ztc-font-size-font-s50);
                line-height: var(--ztc-specing-height60);
                padding-bottom: 10px;
            }
        }
    }
    &-list{
        & span{
            color: var(--ztc-text-text-1);
            font-size: var(--ztc-font-size-font-s20);
            line-height: var(--ztc-specing-height20);
            font-family: var(--ztc-family-font1);
            font-weight: var(--ztc-weight-semibold);
            margin: 0 3px;
            & a{
                color: var(--ztc-text-text-1);
                &.active{
                    font-weight: var(--ztc-weight-bold);
                }
            }
        }
    }
    & .shape1{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    & .shape2{
        position: absolute;
        bottom: 0;
        right:0;
        z-index: -1;
    }
    & .shape3{
        position: absolute;
        bottom: 0;
        right:0;
        z-index: -1;
    }
}
