@use '../utils' as *;


.btn-area{
    & .header-btn1{
        background: var(--ztc-text-text-4);
        color: var(--ztc-text-text-3);
        font-size: var(--ztc-font-size-font-s18);
        line-height: var(--ztc-specing-height18);
        font-family: var(--ztc-family-font1);
        font-weight: var(--ztc-weight-bold);
        padding: 8px 8px 8px 20px;
        border-radius: 50px;
        display: inline-block;
        position: relative;
        z-index: 1;
        transition: .3s;
        & span {
            background: var(--ztc-text-text-1);
            height: 36px;
            width: 36px;
            display: inline-block;
            line-height: 36px;
            text-align: center;
            border-radius: 50px;
            transition: .3s;
            & i{
                transform: rotate(-45deg);
                transition: .3s;
            }
        }
        &:after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: var(--ztc-text-text-3);
            border-radius: 50px;
            z-index: -1;
            transition: .3s;
            transform: scaleX(0);
        }
        &:hover{
            color: var(--ztc-text-text-1);
            transition: .3s;
            & span{
                color: var(--ztc-text-text-2);
            }
            &:after {
                transform: scaleX(1);
                transition: .3s;
            }
        }
    }
    & .header-btn3{
        color: var(--ztc-text-text-1);
        font-size: var(--ztc-font-size-font-s20);
        line-height: var(--ztc-specing-height18);
        background: var(--ztc-text-text-12);
        border-radius: 8px;
        padding: 8px 23px 8px 8px;
        position: relative;
    }
    &.vl-cta-btn1 {
        position: absolute;
        right: 6px;
        top: 6px;
        @media #{$xs}{
            position: relative;
            right: 0;
            top: 10px;
        }
        & .header-btn1{
            @media #{$xs}{
                width: 100%;
            }
        }
    }
    & .header-btn8{
        background: var(--ztc-text-text-4);
        color: var(--ztc-text-text-3);
        font-size: var(--ztc-font-size-font-s20);
        line-height: var(--ztc-specing-height18);
        font-family: var(--ztc-family-font1);
        font-weight: var(--ztc-weight-bold);
        padding: 18px 22px;
        border-radius: 8px;
        display: inline-block;
        position: relative;
        z-index: 1;
        transition: .3s;
        overflow: hidden;
        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            border-bottom: 4px solid #333;
        }
        &:hover{
            color: var(--ztc-text-text-1);
            transition: .3s;
            & span{
                color: var(--ztc-text-text-2);
            }
        }
    }
}
.header-btn1.header-btn8:hover {
    color: #fff !important;
}

a.header-btn1.header-btn6 {
    padding: 17px 20px;
}

// Home Btn 1
.vl-hero-btn{
    & .header-btn1{
        background: var(--ztc-text-text-4);
        color: var(--ztc-text-text-3);
        font-size: var(--ztc-font-size-font-s18);
        line-height: var(--ztc-specing-height18);
        font-family: var(--ztc-family-font1);
        font-weight: var(--ztc-weight-bold);
        padding: 8px 8px 8px 20px;
        border-radius: 50px;
        display: inline-block;
        transform: translateY(50px);
        opacity: 0;
        visibility: hidden;
        transition: 1400ms;
        &:after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: var(--ztc-text-text-3);
            border-radius: 50px;
            z-index: -1;
            transform: scaleX(0);
            transition: .3s;
        }
        &:hover{
            color:var(--ztc-text-text-1);
            transition: .3s;
            &::after{
                transform: scaleX(1);
            }
            & span {
                background: var(--ztc-text-text-4);
                color: var(--ztc-text-text-3);
                transition: .3s;
            }
        }
        & span {
            background: var(--ztc-text-text-1);
            height: 36px;
            width: 36px;
            display: inline-block;
            line-height: 36px;
            text-align: center;
            border-radius: 50px;
            transition: .3s;
            & i{
                transform: rotate(-45deg);
                transition: .3s;
            }
        }
        &-6{
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
            padding: 17px 20px;
            transition: .3s;
        }
    }
}

// Home Btn 2

.home-btn-2{
    border-radius: 8px;
    .btn-2{
        background: var(--ztc-text-text-1);
        color: var(--ztc-text-text-8);
        font-size: var(--ztc-font-size-font-s20);
        line-height: var(--ztc-specing-height18);
        font-family: var(--ztc-family-font1);
        font-weight: var(--ztc-weight-bold);
        transition: .3s;
        padding: 18px 24px;
        text-transform: uppercase;
        display: inline-block;
        border-radius: 8px;
        position: relative;
        z-index: 1;
        &  span {
            display: inline-block;
            margin-left: 4px;
        }
        &::after{
            position: absolute;
            content: "";
            left: 0;
            top:0;
            height: 100%;
            width: 100%;
            background:var(--ztc-text-text-8);
            z-index: -1;
            transform: scaleX(0);
            transition:.3s;
            border-radius: 8px;
        }
        &:hover{
            color: var(--ztc-text-text-1);
            &::after{
                transform: scaleX(1);
                transition:.3s;
            }
        }
    }
}


// Home 2 primary btn


.vl-about-btn {
    padding-top: 32px;
    .btn-primary2 {
        background: var(--ztc-text-text-10);
        padding: 18px 24px;
        display: inline-block;
        text-transform: uppercase;
        color: var(--ztc-text-text-1);
        border-radius: 8px;
        transition:.3s;
        position: relative;
        z-index: 1;
        font-family: var(--ztc-family-font1);
        font-weight: var(--ztc-weight-bold);
        font-size: var(--ztc-font-size-font-s20);
        line-height: var(--ztc-specing-height18);
        &::after{
            position: absolute;
            content:"";
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: var(--ztc-text-text-8);
            z-index: -1;
            transform:scaleX(0);
            transition:.3s;
            border-radius: 8px;
        }
        &:hover{
            &::after{
                transform: scaleX(1);
                transition:.3s;
            }
        }
        & span {
            margin-left: 4px;
        }
    }
}



// Home btn 3
.primary-btn-3 {
    background: var(--ztc-text-text-12) ;
    color: var(--ztc-text-text-1);
    padding: 19px 23px 19px 25px;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: var(--ztc-font-size-font-s20);
    line-height: var(--ztc-specing-height18);
    font-family: var(--ztc-family-font1);
    font-weight: var(--ztc-weight-bold);
    position: relative;
    transition: .3s;
    @media #{$md,$xs}{
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    &:after{
        position: absolute;
        content: "";
        left: 8px;
        top:8px;
        height: 40px;
        width: 40px;
        background: rgba(255,255,255,0.2);
        border-radius: 50px;
        transition: .3s;
        @media #{$md,$xs}{
            left: 38%;
        }
    }
    &:hover{
        color: var(--ztc-text-text-1);
        &:after{
            width:100%;
            height:100%;
            top:0;
            left:0;
            border-radius: inherit;
        }
    }
}


// Home btn 4
.btn-area4 .header-btn1 {
    background: var(--ztc-text-text-14);
    color: var(--ztc-text-text-1);
    font-size: var(--ztc-font-size-font-s20);
    line-height: var(--ztc-specing-height18);
    font-family: var(--ztc-family-font1);
    font-weight: var(--ztc-weight-bold);
    padding: 8px 8px 8px 20px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    transition: .3s;
    z-index: 1;
    &::after{
        position:absolute;
        content: "";
        left: 0;
        top:0;
        height:100%;
        width:100%;
        background:var(--ztc-text-text-15);
        transition:.3s;
        border-radius: 50px;
        z-index: -1;
        transform: scaleX(0);
    }
    .testimonial-btn4:after {
        background: #335161;
    }
    &:hover{
        &::after{
            transform:scaleX(1)
        }
    }
    & span{
        background: var(--ztc-text-text-1);
        height: 36px;
        width: 36px;
        display: inline-block;
        line-height: 36px;
        text-align: center;
        border-radius: 50px;
        transition: 0.3s;
        & i{
            transform: rotate(-45deg);
            transition: 0.3s;
            color: var(--ztc-text-text-15);
        }
    }
}

.vl-hero-btn.vl-gallley-btn-6 {
    text-align: right;
    @media #{$md,$xs}{
        text-align: start;
    }
}


// Home btn 5
.vl-hero-btn.vl-hero-btn-7 .header-btn1{
        &.header-btn1-6 {
        background: var(--ztc-text-text-19);
        border-radius: 8px;
        color: var(--ztc-text-text-1);
        padding: 14px 24px;
        font-size: var(--ztc-font-size-font-s20);
        & span{
            & img{
                transition: .3s;
            }
        }
        &::after{
            border-radius: 8px;
        }
        & span{
            background: transparent;
            height: inherit;
            width: inherit;
            line-height: inherit;
            display: contents;
        }
        &:hover{
            & span{
                & img{
                    transform: rotate(45deg);
                    transition: .3s;
                }
            }
        }
        &-1{
            background: var(--ztc-text-text-1);
            color: var(--ztc-text-text-20);
            & span{
                & img{
                    transition: .3s;
                }
            }
            &:hover{
                color: var(--ztc-text-text-1);
                & span{
                    & img{
                        filter: brightness(0) invert(1);
                        transition: .3s;
                    }
                }
            }
        }
        &.header-btn1-9{
            background: var(--ztc-text-text-1);
            color: var(--ztc-text-text-24);
            &:hover{
                color: var(--ztc-text-text-1);
                & span{
                    & img{
                        filter: brightness(0) invert(1);
                        transition: .3s;
                    }
                }
            }
        }
    }
    
}


// Home btn 8
.btn-area-8 {
    overflow: hidden;
    border-radius: 8px;
    display: inline-block;
    & .btn-8{
        position: relative;
        background: var(--ztc-text-text-4);
        color: var(--ztc-text-text-3);
        padding: 18px 22px;
        font-size: var(--ztc-font-size-font-s20);
        line-height: var(--ztc-specing-height18);
        font-weight: var(--ztc-weight-bold);
        border-radius: 8px;
        display: inline-block;
        transition: .3s;
        z-index: 1;
        &::after{
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            background: var(--ztc-text-text-3);
            transition: .3s;
            z-index: -1;
        }
        &:hover{
            color: var(--ztc-text-text-1);
            transition: .3s;
            &::after{
                height:100%;
                transition: .3s;
            }
        }
    }
}

.vl-single-cause-box-8 .btn-area-8{
    display: block;
    text-align: center;
}

// Home btn 9

.primary-btn-9{
    background: var(--ztc-text-text-23);
    padding: 14px 24px;
    border-radius: 8px;
    display: inline-block;
    color: var(--ztc-text-text-1);
    font-size: var(--ztc-font-size-font-s20);
    line-height: var(--ztc-specing-height18);
    font-weight: var(--ztc-weight-bold);
    transition: .3s;
    & span{
        & img{
            margin-top: -4px;
            transition: .3s;
        }
    }
    &:hover{
        background: var(--ztc-text-text-24);
        color: var(--ztc-text-text-1);
        transition: .3s ;
        & span{
            & img{
                transform: rotate(45deg);
            }
        }
    }
    &-1{
        background: var(--ztc-text-text-1);
        color: var(--ztc-text-text-24);
        &:hover{
            & span{
                & img{
                    filter: brightness(0) invert(1);
                    transition: .3s;
                }
            }
        }
    }
}


// cause btn 9
.vl-cause-btn-9{
    font-size: var(--ztc-font-size-font-s20);
    line-height: var(--ztc-specing-height18);
    font-weight: var(--ztc-weight-bold);
    color: var(--ztc-text-text-23);
    transition: .3s;
    border: 1px solid var(--ztc-text-text-23);
    display: inline-block;
    border-radius: 8px;
    padding: 14px 24px;
    & span{
        & img{
            transition: .3s;
        }
    }
    &:hover{
        background: var(--ztc-text-text-23);
        color: var(--ztc-text-text-1);
        transition: .3s;
        & span{
            & img{
                filter: brightness(0) invert(1);
                transition: .3s;
                transform: rotate(45deg);
            }
        }
    }
}

.vl-cta-btn-9{
    & .primary-btn-9{
        background: var(--ztc-text-text-1);
        color: var(--ztc-text-text-24);
        transition: .3s;
        &:hover{
            background: var(--ztc-text-text-24);
            color: var(--ztc-text-text-1);
            transition: .3s;
            & span{
                & img{
                    filter: brightness(0) invert(1);
                    transition: .3s;
                }
            }
        }
    }
    
}


// cause btn 10
.vl-cause-btn-10{
    font-size: var(--ztc-font-size-font-s20);
    line-height: var(--ztc-specing-height18);
    font-weight: var(--ztc-weight-bold);
    color: var(--ztc-text-text-28);
    transition: .3s;
    border: 1px solid var(--ztc-text-text-28);
    display: inline-block;
    border-radius: 8px;
    padding: 14px 24px;
    & span{
        & img{
            transition: .3s;
        }
    }
    &:hover{
        background: var(--ztc-text-text-28);
        color: var(--ztc-text-text-1);
        transition: .3s;
        & span{
            & img{
                filter: brightness(0) invert(1);
                transition: .3s;
                transform: rotate(45deg);
            }
        }
    }
}



// video play btn 
.btn-flex-area{
    display:flex;
    & .btn-area4{
        margin-right: 12px;
    }
    @media #{$xs}{
        display:block;
    }
}
.vl-video-play {
    display: flex;
    align-items: center;
    @media #{$xs}{
        margin-top:30px;
    }
    & .video-text{
        & .vtitle{
            color: var(--ztc-text-text-1);
            font-size: var(--ztc-font-size-font-s20);
            line-height: var(--ztc-specing-height18);
            font-family: var(--ztc-family-font1);
            font-weight: var(--ztc-weight-semibold);
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
.video-play-button {
    transform: translateX(0%) translateY(0%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    padding: 0px 20px 0px 28px;
    margin-right:8px;
  }
  
  .video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 55px;
    height: 55px;
    background: var(--ztc-text-text-1);
    border-radius: 50%;
    animation: pulse-border 1100ms ease-out infinite;
  }
  
  .video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background:var(--ztc-text-text-1);
    border-radius: 50%;
    transition: all 200ms;
  }
  
  .video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 19px solid var(--ztc-text-text-15);
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    top: 10px;
    left: 5px;
  }
  
  @keyframes pulse-border {
    0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
  }




//   Home button 5

.btn5{
    & .btn-priamry1{
        background: var(--ztc-text-text-6);
        color: var(--ztc-text-text-1);
        border-radius: 8px;
        padding: 8px 8px 8px 20px;
        display: inline-block;
        font-size: var(--ztc-font-size-font-s20);
        line-height: var(--ztc-specing-height18);
        font-family: var(--ztc-family-font1);
        font-weight: var(--ztc-weight-bold);
        position: relative;
        z-index: 1;
        transition: .3s;
        &::after{
            position:absolute;
            content:"";
            left:0;
            top:0;
            height:100%;
            width: 100%;
            background: var(--ztc-text-text-3);
            z-index:-1;
            border-radius:8px;
            transform:scaleX(0);
            transition: .3s;
        }
        &:hover{
            &::after{
                transform: scaleX(1);
                transition: .3s;
            }
        }
        & span{
            height:36px;
            width:36px;
            line-height: 36px;
            text-align: center;
            display:inline-block;
            background: var(--ztc-text-text-1);
            color: var(--ztc-text-text-6);
            border-radius: 50px;
            transform:rotate(-45deg);
            transition: .3s;
        }
    }
}

.btn-area4 .header-btn1.headbtn4:hover span {
    background: var(--ztc-text-text-14) !important;
}


.mobile-btn5 {
    margin-top: 30px;
    margin-bottom: 30px;
    & .btn-priamry1 {
        width: 100%;
        text-align: center;
    }
}

a.header-btn1.testimonial-btn4.testibtn4:after {
    background: var(--ztc-text-text-1);
}
a.header-btn1.testimonial-btn4.testibtn4:hover span{
    background: var(--ztc-text-text-14);
}
a.header-btn1.testimonial-btn4.testibtn4:hover {
    color: var(--ztc-text-text-14);
}

// hero btn 9

.vl-btn-hero-9{
    & .primary-btn-9{
        background: var(--ztc-text-text-1);
        color: #160911;
        transition: .3s;
        margin-right: 24px;
        &:hover{
            background: var(--ztc-text-text-23);
            color: var(--ztc-text-text-1);
            transition: .3s;
            & span{
                & img{
                    filter: brightness(0) invert(1);
                    transition: .3s;
                }
            }
        }
    }
}


.vl-hero-nine-iconbox{
    & a{
        font-size: var(--ztc-font-size-font-s20);
        line-height: var(--ztc-specing-height18);
        font-weight: var(--ztc-weight-bold);
        color: var(--ztc-text-text-1);
        transition: .3s;
    }
    & span{
        background: var(--ztc-text-text-23);
        transition: .3s;
        height: 50px;
        width: 50px;
        line-height: 50px;
        display: inline-block;
        border-radius: 50px;
        text-align: center;
        margin-right: 10px;
    }
}

.vl-btn-box-flex{
    display: flex;
    @media #{$xs}{
        display: block;
    }
}

.mobile-btn9{
    margin: 20px 0;
}
.donate-btn-10.vl-mobile-btn-10 {
    margin: 30px 0;
}

.vl-hero-nine-iconbox{
    @media #{$xs}{
        margin-top: 20px;
    }
}


// Home btn 10
.primary-btn-10{
    background: var(--ztc-text-text-27);
    padding: 14px 24px;
    border-radius: 8px;
    display: inline-block;
    color: var(--ztc-text-text-1);
    font-size: var(--ztc-font-size-font-s20);
    line-height: var(--ztc-specing-height18);
    font-weight: var(--ztc-weight-bold);
    transition: .3s;
    & span{
        & img{
            margin-top: -4px;
            transition: .3s;
        }
    }
    &:hover{
        background: var(--ztc-text-text-28);
        color: var(--ztc-text-text-1);
        transition: .3s ;
        & span{
            & img{
                transform: rotate(45deg);
            }
        }
    }
}

.donate-btn-10{
    & .primary-btn-10{
        background: var(--ztc-text-text-28);
        &:hover{
            background: var(--ztc-text-text-27);
        }
    }
    &.gallery-btn-10{
        text-align: end;
        @media #{$md,$xs}{
            text-align: start;
        }
    }
}

// video play btn 10

.vl-video-btn-10{
    & .primary-btn-10{
        background: var(--ztc-text-text-1);
        color: var(--ztc-text-text-27);
        transition: .3s;
        & span{
            & img{
                transition: .3s;
            }
        }
        &:hover{
            background: var(--ztc-text-text-28);
            transition: .3s;
            color: var(--ztc-text-text-1);
            & span{
                & img{
                    filter: brightness(0) invert(1);
                    transition: .3s;
                }
            }
        }
    }
}

.vl-banner-10{
    & .vl-hero-btn{
        margin-bottom: 48px;
        @media #{$md,$xs}{
            margin-bottom: 30px;
        }
    }
}