@use '../utils' as *;

.preloader{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	background-color: #111112;
	display: flex;
	align-items: center;
	justify-content: center;
}

.preloader2{
	background-color: #1C1C25;
}

.loading-container,
.loading{
	height: 140px;
	position: relative;
	width: 140px;
	border-radius: 100%;
}

.loading-container{
	margin: 40px auto
}

.loading{
	border: 1px solid transparent;
	border-color: transparent #fff;
	animation: rotate-loading 1.5s linear 0s infinite normal;
	transform-origin: 50% 50%;
}
.loading-container:hover .loading,
.loading-container .loading{
	transition: all 0.5s ease-in-out;
}

#loading-icon{
	position: absolute;
	top: 60%;
	left: 60% !important;
	transform: translate(-50%, -50%);
    height: 100px;
    width: 100px;
}
#loading-icon img {
    height: 70px;
    width: 70px;
}

@keyframes rotate-loading{
	0%{
		transform: rotate(0deg);
	}

	100%{
		transform: rotate(360deg);
	}
}
