@use '../../utils/' as * ;

/*============= TEAM CSS AREA ===============*/
.vl-team{
    &-bg{
        &-1{
            background: var(--ztc-bg-bg-4);
        }
    }
    &-section-title{
        .vl-section-title-1{
            .subtitle {
                background: var(--ztc-bg-bg-1);
            }
        }
    }
    
}


/*============= TEAM CSS AREA STARTS ===============*/




.vl-single-team-box {
    position: relative;
    
    & .vl-team{
        &-content {
            overflow: hidden;
            background: var(--ztc-bg-bg-1);
            text-align: center;
            position: absolute;
            left: 20px;
            right: 20px;
            bottom: -37px;
            padding-top: 30px;
            padding-bottom: 30px;
            border-radius: 8px;
            height: 98px;
            transition: .3s;
        }
        &-social {
            left: 0;
            right: 0;
            transform: translateY(-70px);
            transition: .3s;
            height: 0;
            ul li{
                display: inline-block;
                a {
                    background: var(--ztc-bg-bg-4);
                    height: 32px;
                    width: 32px;
                    line-height: 32px;
                    text-align: center;
                    border-radius: 50px;
                    transition: .3s;
                    color: var(--ztc-text-text-3);
                    display: block;
                    margin: 0 4px;
                    &:hover{
                        background: var(--ztc-text-text-4);
                    }
                }
            }
        }
        &-desc{
            .title {
                a{
                    color: var(--ztc-text-text-3);
                    font-size: var(--ztc-font-size-font-s20);
                    line-height: var(--ztc-specing-height20);
                    font-family: var(--ztc-family-font2);
                    font-weight: var(--ztc-weight-bold);
                    padding-bottom: 12px;
                    transition: .3s;
                }
            }
            span {
                color: var(--ztc-text-text-2);
                font-size: var(--ztc-font-size-font-s18);
                line-height: var(--ztc-specing-height18);
                font-family: var(--ztc-family-font1);
                font-weight: var(--ztc-weight-semibold);
                transition: .3s;
            }
        }
    }
    &:hover{
        .vl-team-social {
            transform: translateY(0px);
            transition: .3s;
            height: 32px;
            margin-bottom: 10px;
        }
        .vl-team-content {
            height: 150px;
        }
        .vl-team-desc .title a{
            color: var(--ztc-text-text-6);
            transition: .3s;
        }
    }
}



// Team Member Home-04

.vl-team4{
    & .vl-single-team-member{
        & .thumb{
            position:relative;
            z-index:1;
            overflow:hidden;
            border-radius:8px;
            & img{
                border-radius:8px;
                transition: .3s;
                object-fit: cover;
                @media #{$xs}{
                    height: 370px;
                    object-fit: cover;
                }
            }
            
            &::after{
                position: absolute;
                content: "";
                right: 0;
                top:0;
                height: 100%;
                width: 0%;
                background: rgba(0, 38, 58, 0.70);
                transition:.5s;
                z-index:999;
            }
        }
        & .thumb-content{
            position: absolute;
            bottom: 24px;
            left: 0;
            right: 0;
            z-index: 9999;
            transform: translateY(74px);
            opacity:0;
            visibility: hidden;
            transition:.5s;
            & .content{
                & .title{
                    display:block;
                    color: var(--ztc-text-text-1);
                    font-size: var(--ztc-font-size-font-s20);
                    line-height: var(--ztc-specing-height20);
                    font-family: var(--ztc-family-font2);
                    font-weight: var(--ztc-weight-bold);
                    padding-bottom: 12px;
                    transition:.3s;
                }
                & span{
                    color: rgba(255,255,255,.80);
                    font-size: var(--ztc-font-size-font-s18);
                    line-height: var(--ztc-specing-height18);
                    font-family: var(--ztc-family-font1);
                    font-weight: var(--ztc-weight-semibold);
                    padding-bottom: 24px;
                    display: block;
                }
            }
            & .vl-team-social{
                & ul{
                    & li{
                        display:inline-block;
                        & a{
                            display: block;
                            background: var(--ztc-text-text-1);
                            height: 32px;
                            width: 32px;
                            line-height: 32px;
                            border-radius: 50px;
                            color:var(--ztc-text-text-15);
                            transition:.3s;
                            margin-right:8px;
                            &:hover{
                                background: var(--ztc-text-text-14);
                                color: var(--ztc-text-text-1);
                                transition: .3s;
                            }
                        }
                    }
                }
            }
        }
        &:hover{
            & .thumb-content{
                opacity:1;
                visibility:visible;
                transition:.5s;
                transform:translateY(0);
            }
            &  .thumb{
                & img{
                    transform: scale(1.1);
                }
                &::after {
                    width: 100%;
                    transition: .5s;
                }
            }
        }
    }
}

#team4{
    position:relative;
    z-index: 1;
   & .owl-nav{
     & button {
            height: 56px;
            width: 56px;
            background: #FFF7F4 !important;
            display: inline-block;
            border: 1px solid rgba(80, 79, 78, 0.10);
            border-radius: 50px;
            line-height: 56px;
            font-size: 25px !important;
            transition:.3s;
            @media #{$lg,$md,$xs}{
                margin: 0 15px;
                margin-top: 30px;
            }
            &:hover{
                background:var(--ztc-text-text-14) !important;
                color:var(--ztc-text-text-1) !important;
                transition:.3s;
            }
        }
        @media #{$lg,$md,$xs}{
           text-align: center;
        }
    }
    button.owl-next {
        position: absolute;
        right: -76px;
        top: 50%;
        transform: translateY(-50%);
        @media #{$xxl}{
            right: -50px;
        }
        @media #{$lg,$md,$xs}{
            position: relative;
            right:0;
            top:0;
            transform: translateY(0%);
        }
    }
    button.owl-prev {
        position: absolute;
        left: -76px;
        top: 50%;
        transform: translateY(-50%);
        @media #{$xxl}{
            left: -50px;
        }
        @media #{$lg,$md,$xs}{
            position: relative;
            left:0;
            top:0;
            transform: translateY(0%);
            margin-right: 0;
        }
    }
}




// Team Home 01
.vl-team-parent{
    position:relative;
    & .vl-team-thumb{
        & img{
            border-radius: 8px;
        }
    }
    & .vl-team-social{
        & ul{
            & li{
                display:inline-block;
            }
        }
    }
    
    & .vl-team-social {
        position: absolute;
        top: 65%;
        transform: translateY(150px);
        margin: 0 auto;
        text-align: center;
        left: 0;
        right: 0;
        transition:.6s;
        @media #{$md}{
            transform: translateY(400%);
        }
        @media #{$xs}{
            transform: translateY(420%);
        }
    }
    
    & .vl-team-social ul li a {
        background: var(--ztc-text-text-1);
        height: 32px;
        width: 32px;
        display: block;
        line-height: 34px;
        text-align: center;
        border-radius: 50px;
        color: var(--ztc-text-text-3);
        transition:.3s;
        &:hover{
            background:var(--ztc-text-text-4);
            color:var(--ztc-text-text-3);
            transition:.3s;
        }
    }
    &:hover{
        .vl-team-social {
            transform: translateY(0);
            @media #{$md}{
                transform: translateY(0);
            }
            @media #{$xs}{
                transform: translateY(0);
            }
        }
    }




}
.vl-team-content {
    background: var(--ztc-text-text-1);
    border-radius: 8px;
    padding: 24px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -52px;
    z-index: 99;
    position: relative;
    & .title{
        color: var(--ztc-text-text-3);
        font-size: var(--ztc-font-size-font-s20);
        line-height: var(--ztc-specing-height20);
        font-family: var(--ztc-family-font2);
        font-weight: var(--ztc-weight-bold);
        transition: .3s;
        display: block;
        padding-bottom:12px;
        &:hover{
            color: var(--ztc-text-text-6);
            transition: .3s;
        }
    }
    & span{
        color: var(--ztc-text-text-2);
        font-size: var(--ztc-font-size-font-s18);
        line-height: var(--ztc-specing-height18);
        font-family: var(--ztc-family-font1);
        font-weight: var(--ztc-weight-semibold);
        transition: .3s;
        display:block;
    }
}

#team1{
    position: relative;
    & .owl-nav{
        @media #{$lg}{
            text-align: center;
            margin-top: 30px;
        }
        @media #{$md}{
            text-align: center;
            margin-top: 30px;
        }
        @media #{$xs}{
            text-align: center;
            margin-top: 30px;
        }
        button {
            background: #fff!important;
            height: 56px;
            width: 56px;
            font-size: 32px !important;
            border-radius: 50px;
            transition: .3s;
            & img {
                margin-top: -5px;
            }
            &:hover{
                background: var(--ztc-text-text-6) !important;
                transition:.3s;
                & i{
                    color:var(--ztc-text-text-1);
                    transition: .3s;
                }
                & img {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }

    button.owl-prev {
        position: absolute;
        top: 36%;
        left: -80px;
        @media #{$xxl}{
            left: -50px;
        }
        @media #{$lg}{
            position:relative;
            top:0;
            left:0;
            margin:0 10px;
        }

        @media #{$md}{
            position:relative;
            top:0;
            left:0;
            margin:0 10px;
        }

        @media #{$xs}{
            position:relative;
            top:0;
            left:0;
            margin:0 10px;
        }
    }
    button.owl-next {
        position: absolute;
        top: 36%;
        right: -80px;
        @media #{$xxl}{
            right: -50px;
        }
        @media #{$lg}{
            position:relative;
            top:0;
            right:0;
            margin:0 10px;
        }
        @media #{$md}{
            position:relative;
            top:0;
            right:0;
            margin:0 10px;
        }
        @media #{$xs}{
            position:relative;
            top:0;
            left:0;
            margin:0 10px;
        }
    }
}

.vl-team-inner{
    & .single-team{
        position: relative;
        z-index:1;
        & .team-thumb{
            overflow:hidden;
            border-radius:8px;
        }
        & .content-box{
            background:var(--ztc-bg-bg-4);
            transition:.3s;
            text-align:center;
            border-radius:8px;
            padding:24px;
            position: absolute;
            left: 20px;
            right: 20px;
            bottom: -56px;
            overflow:hidden;
            & .ssocial{
                height: 0;
                opacity: 0;
                visibility: hidden;
                transition: .3s;
                & ul li {
                    display: inline-block;
                    & a{
                        height: 36px;
                        width: 36px;
                        background: var(--ztc-text-text-1);
                        display: block;
                        line-height: 38px;
                        border-radius: 50px;
                        margin: 0 4px;
                        color: var(--ztc-text-text-3);
                        transition:.3s;
                    }
                }
            } 
            
            
            & .text{
                & .title{
                    color:var(--ztc-text-text-3);
                    font-size: var(--ztc-font-size-font-s20);
                    line-height: var(--ztc-specing-height20);
                    font-family: var(--ztc-family-font2);
                    font-weight: var(--ztc-weight-bold);
                    display:block;
                    transition: .3s;
                    &:hover{
                        color: var(--ztc-text-text-6);
                        transition: .3s;
                    }
                }
                & .deseg{
                    color:var(--ztc-text-text-2);
                    font-size: var(--ztc-font-size-font-s18);
                    line-height: var(--ztc-specing-height18);
                    font-family: var(--ztc-family-font1);
                    font-weight: var(--ztc-weight-semibold);
                    display:block;
                    padding-top:12px;
                }
            }
        }
        &:hover{
            & .ssocial ul li a:hover{
                background: var(--ztc-text-text-4);
                transition: .3s;
            }
            & .content-box .ssocial {
                margin-bottom: 24px;
                opacity: 1;
                visibility: visible;
                transition: .3s;
            }
            & .content-box .text {
                padding-top: 24px;
                transition: .3s;
            }
        }
    }
}


.vl-team-inner .single-team .content-box .text {
    transition: .3s;
}


.single-team {
    margin-bottom: 86px;
}


// Team (volunter) Home 7
.vl-volunter-warp{
    position: relative;
    z-index: 1;
    &-thumb{
        border-radius: 8px;
        overflow: hidden;
        & img{
            height: 380px;
            object-fit: cover;
            transition: .3s;
        }
    }
    &-content{
        text-align: center;
        background: var(--ztc-text-text-1);
        border-radius: 8px;
        padding: 24px;
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        height: 98px;
        overflow: hidden;
        transition: .3s;
        transform: rotate(-2deg);
        &-text{
            & .title{
                & a{
                    color: var(--ztc-text-text-20);
                    font-size: var(--ztc-font-size-font-s20);
                    font-weight: var(--ztc-weight-bold);
                    line-height: var(--ztc-specing-height20);
                    font-family: var(--ztc-family-font2);
                    padding-bottom: 12px;
                    display: inline-block;
                    transition: .3s;
                    &:hover{
                        color: var(--ztc-text-text-19);
                        transition: .3s;
                    }
                }
            }
            & .desegnitation{
                color: var(--ztc-text-text-21);
                font-size: var(--ztc-font-size-font-s18);
                font-weight: var(--ztc-weight-medium);
                line-height: var(--ztc-specing-height18);
            }
        }
        &-social{
            padding-top: 24px;
            & a{
                background: #F1F6F7;
                height: 32px;
                width: 32px;
                line-height: 32px;
                text-align: center;
                border-radius: 50px;
                display: inline-block;
                color: var(--ztc-text-text-20);
                transition: .3s;
                margin: 0 2px;
                &:hover{
                    background: var(--ztc-text-text-19);
                    transition: .3s;
                    color: var(--ztc-text-text-1);
                }
            }
        }
    }
    &:hover{
        & .vl-volunter-warp{
            &-content {
                height: 154px;
                transition: .3s;
                transform: rotate(0deg);
            }
            &-thumb{
                & img{
                    transform: scale(1.1);
                    transition: .3s;
                }
            }
        }
    }
}

.vl-volunteer-area-7{
    position: relative;
    z-index: 1;
}
.vl-volunteer-heart-shape{
    position: absolute;
    right: 80px;
    top: 70px;
}
