@use '../../utils/' as * ;

/*============= TESTIMONIAL CSS AREA ===============*/
.vl-testimonial{
    position: relative;
    &-bg{
        background: var(--ztc-text-text-3);
    }
    &-box{
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.10);
        padding: 32px 24px;
        position:relative;
        &-icon{
            & span{
                color: var(--ztc-text-text-7);
                height: 20px;
                width: 20px;
                display: inline-block;
            }
        }
        &-content{
            & p{
                color: var(--ztc-text-text-1);
                font-size: var(--ztc-font-size-font-s18);
                line-height: var(--ztc-specing-height28);
                font-family: var(--ztc-family-font1);
                font-weight: var(--ztc-weight-semibold);
                padding-top: 16px;
                padding-bottom: 20px;
                margin-bottom: 20px;
                border-bottom: 2px solid rgba(255, 255, 255, 0.10);
            }
        }
        &-auth{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .vl-auth-desc{
                display: flex;
                align-items: center;
                .auth-img{
                    margin-right: 12px;
                }
                .auth-title{
                    .title{
                        a{
                            color: var(--ztc-text-text-1);
                            font-size: var(--ztc-font-size-font-s20);
                            line-height: var(--ztc-specing-height20);
                            font-family: var(--ztc-family-font2);
                            font-weight: var(--ztc-weight-bold);
                            padding-bottom: 12px;
                            display: block;
                            transition: .3s;
                            &:hover{
                                color: var(--ztc-text-text-4);
                                transition: .3s;
                            }
                        }
                        &-7{
                            & a{
                                &:hover{
                                    color: var(--ztc-text-text-19);
                                }
                            }
                        }
                    }
                    & span{
                        color: rgba(255, 255, 255, 0.80);
                        font-size: var(--ztc-font-size-font-s18);
                        line-height: var(--ztc-specing-height18);
                        font-family: var(--ztc-family-fon12);
                        font-weight: var(--ztc-weight-semibold);
                    }
                    
                }
            }
            &-6{
                & .vl-auth-desc{
                    & .auth-title{
                        & .title{
                            & a{
                                color: var(--ztc-text-text-3);
                            }
                        }
                        & span{
                            color: var(--ztc-text-text-18);
                        }
                    } 
                }
               
            }
        }
        &-6{
            background: var(--ztc-text-text-1);
            & .vl-testimonial-box{
                &-content{
                    & p{
                       color: var(--ztc-text-text-3); 
                    }
                }
            }
        }
    }
}

.vl-testimonial-quote-icon-6{
    & span{
        text-align: left;
        & img{
            height: 40px;
            width: 40px !important;
        }
    }
}

.vl-testimonial-arow{
    .owl-nav{
        @media #{$lg,$md,$xs} {
            text-align: center;
       }
        button {
            background: var(--ztc-text-text-1) !important;
            height: 56px;
            width: 56px;
            line-height: 56px;
            font-size: 30px !important;
            border-radius: 50px;
            transition: .3s;
            color:var(--ztc-text-text-3);
            &:hover{
                background:var(--ztc-text-text-4) !important;
                transition: .3s;
            }

            @media #{$lg,$md,$xs} {
                margin: 0 8px;
                margin-top: 20px;
           }
        }
    }
    .owl-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -74px;
        @media #{$xxl}{
            left: -50px;
        }
        @media #{$xl}{
            left: -48px;
        }
        @media #{$lg,$md,$xs} {
            position: relative;
            left: 0;
            transform: translateY(0);
       }
       & img {
            height: 36px;
            line-height: 36px;
            margin-top: -3px;
            margin-left: -3px;
        }
    }
    .owl-next {
        position: absolute;
        right: -74px;
        top: 50%;
        transform: translateY(-50%);
        @media #{$xxl}{
            right: -50px;
        }
        @media #{$xl}{
            right: -48px;
        }
        @media #{$lg,$md,$xs} {
            position: relative;
            left: 0;
            transform: translateY(0);
       }
       & img {
            height: 36px;
            line-height: 36px;
            margin-top: -5px;
            margin-right: -3px;
        }
    }
    &-7{
        & .owl-nav button:hover{
            background: var(--ztc-text-text-19) !important;
            & img{
                filter: brightness(0) invert(1);
                transition: .3s;
            }
        }
    }
}


.vl-testimonial-2{
    background: var(--ztc-text-text-10);
    position: relative;
    z-index: 1;
    overflow: hidden;
    & .vl-testimonial-content {
        position: relative;
        z-index: 9;
    }
    & .shape{
        position: absolute;
        &.shape{
            &-1 {
                top: 37px;
                left:26px;
             }
             &-2 {
                top: 55%;
                left:26px;
             }
             &-3 {
                top: 20px;
                left:40%;
             }
             &-4 {
                top: 148px;
                right: 20px;
             }
             &-5 {
                top: 458px;
                right: 20px;
             }
             &-6 {
                right: 0px;
                bottom: 0px;
             }
        }
    }
    & .large-shape {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        z-index: -1;
        & img{
            height: 100%;
        }
    }
    .vl-section-title-3{
        .subtitle{
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.10);
            color: var(--ztc-text-text-1);
        }
        .title{
            color: var(--ztc-text-text-1);
            line-height: var(--ztc-specing-height52);
            @media($xs){
                line-height: var(--ztc-specing-height36);
            }
        }
        p{
            color: rgba(255, 255, 255, 0.80)
        }
    }
    .vl-single-testimonial{
        &-box{
            border-radius: 8px;
            border: 1px solid rgba(255, 255, 255, 0.15);
            background: rgba(255, 255, 255, 0.10);
            backdrop-filter: blur(10px);
            padding: 32px;
            position: relative;
            margin-top: 32px;
            @media($xs){
                padding: 15px;
            }
            & .icon ul li{
                display: inline-block;
                & span {
                    display: inline-block;
                    border-radius: 4px;
                    background: rgba(255, 255, 255, 0.20);
                    height: 24px;
                    width: 24px;
                    text-align: center;
                    & img {
                        height: 16px;
                        width: 16px;
                        margin: 0 auto;
                        margin-top: 3px;
                    }
                }
            }
            & .content{
                & p{
                    color: var(--ztc-text-text-1);
                    font-size: var(--ztc-font-size-font-s20);
                    line-height: var(--ztc-specing-height30);
                    font-family: var(--ztc-family-font1);
                    font-weight: var(--ztc-weight-semibold);
                    padding-top: 16px;
                    padding-bottom: 32px;
                }
                
            }
            & .auth-flex{
                display:flex;
                align-items:center;
                & .thumb{
                    & img{
                        height:50px;
                        width:50px;
                        border-radius: 50px;
                        margin-right: 16px;
                    }
                }
                & .content{
                    & .title{
                        a{
                            color: var(--ztc-text-text-1);
                            font-size: var(--ztc-font-size-font-s24);
                            line-height: var(--ztc-specing-height24);
                            font-family: var(--ztc-family-font2);
                            font-weight: var(--ztc-weight-bold);
                            transition: .3s;
                            display: block;
                            padding-bottom: 12px;
                        }
                    }
                    
                    & span{
                        color: rgba(255, 255, 255, 0.80);
                        transition: .3s;
                    }
                }
            }
            & .quote-ic{
                position: absolute;
                right: 32px;
                bottom: 32px;
                @media($xs){
                    right:15px;
                    bottom:15px;
                }
            }
        }
    }
    & .vl-test-thumb-2{
        position: relative;
        z-index: 1;
        overflow: hidden;
        border-radius: 8px;
        & .testi-top-shape {
            position: absolute;
            top: -13px;
            left: -14px;
            z-index: 1;
        }
    }
}


#vl-testimonial-active2 {
    width: 670px;
    @media #{$md}{
        width:100%;
        margin-bottom: 30px;
    }
    @media #{$xs}{
        width:100%;
    }
}
.vl-test-thumb-2{
    @media #{$xs}{
        margin-top: 30px;
    }
}

.vl-testimonial-content{
    & .owl-nav{
        & button {
            background: rgba(255,255, 255, 0.2) !important;
            height: 56px;
            width: 56px;
            line-height: 57px !important;
            font-size: 30px !important;
            border-radius: 50px;
            transition: .3s;
            margin-top: 32px;
            backdrop-filter: blur(2px);
            color: var(--ztc-text-text-1)!important;
            transition:.3s;
            &:hover{
                background:var(--ztc-text-text-8) !important;
                transition:.3s;
            }
            &.owl-prev {
                margin-right: 12px;
            }
        }
    }
    
}

// Testimonail Home -03
.vl-testimonial3{
    position: relative;
    z-index:1;
    background-size: cover;
    &:after{
        position:absolute;
        content: "";
        left: 0;
        top: 0;
        height:100%;
        width: 100%;
        background:#0E082B;
        opacity:.7;
        z-index:-1;
    }
    & .vl-section-title3{
        & .subtitle{
            background: rgba(255, 255, 255, 0.20);
            color: var(--ztc-text-text-1);
        }
        & .title{
            color: var(--ztc-text-text-1);
            line-height: var(--ztc-specing-height54);
            padding-bottom: 0;
            @media #{$xs}{
                font-size: var(--ztc-font-size-font-s30);
                line-height: var(--ztc-specing-height40);
            }
        }
    }
    & .vl-swiper-content{
        width:770px;
        margin: 0 auto;
        & .para{
            font-size:28px;
            line-height:44px;
            color:#fff;
        }
    }
    & .vl-testiomonial-auth{
        padding-top: 48px;
        & .title{
            color: var(--ztc-text-text-1);
            font-size:24px;
            line-height:24px;
            display: block;
            padding-bottom: 12px;
        }
        & span{
            color: rgba(255,255,255,.8);
            font-size:18px;
            line-height:18px;
            display: block;
        }
    }

    & .thumb-content{
        width:770px;
        margin:0 auto;
        padding-top: 40px;
        @media #{$md}{
            width: 100%;
        }
        @media #{$xs}{
           width: 100%;
        }
        & .para{
            color: var(--ztc-text-text-1);
            font-size: 28px;
            line-height: 44px;
        }
        & .test-auth{
            padding-top:48px;
            & .title{
                font-size: 24px;
                line-height:24px;
                color:#fff;
                font-weight:700;
                display:block;
                transition:.3s;
                padding-bottom: 16px;
            }
            & span{
                color:rgba(255,255,255,0.8);
                font-size:18px;
                line-height:18px;
                font-weight:600;
                transition:.3s;
                display:block;
            }
        }
    }
    & .vl-sthumb{
        & img{
            height:100px;
            width:100px;
            border-radius:50px;
        }
    }
    .swiper-slide.swiper-slide-visible.swiper-slide-fully-visible.swiper-slide-active .vl-sthumb img {
        border: 1px solid #fff;
        padding: 5px;
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
}


 //=== testimonial style 3 ===

 .testimonial3-section-area {
    position: relative;
    z-index: 1;
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .span1 {
        background: rgba(255,255,255, .20);
        border-radius: 8px;
        padding: 8px 12px;
        color: var(--ztc-text-text-1);
        font-size: var(--ztc-font-size-font-s18);
        line-height: var(--ztc-specing-height18);
        font-family: var(--ztc-family-font1);
        font-weight: var(--ztc-weight-semibold);
    }
    .testimonial-heading3{
        color: var(--ztc-text-text-1);
        font-size: var(--ztc-font-size-font-s44);
        line-height: var(--ztc-specing-height54);
        font-family: var(--ztc-family-font2);
        font-weight: var(--ztc-weight-bold);
        padding-top: 16px;
    }
    &:after{
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: #0E082B;
        opacity: .70;
        z-index: -1;
    }
    .testimonial-header-area {
        margin-bottom: 60px;
        @media #{$xs} {
            margin-bottom: 30px;
        }
        @media #{$md} {
            margin-bottom: 30px;
        }
        h5 {
            background: var(--ztc-bg-bg-19);
            color: var(--ztc-bg-bg-17);
        }
        h2 {
            color: var(--ztc-text-text-1);
        }
    }
    .single-testimonial {
        cursor: move;
        margin-top: 32px;
        .para{
            color: var(--ztc-text-text-1);
            font-size: var(--ztc-font-size-font-s28);
            line-height: var(--ztc-specing-height44);
            font-family: var(--ztc-family-font1);
            font-weight: var(--ztc-weight-semibold);
            @media #{$md,$xs}{
                font-size: var(--ztc-font-size-font-s20);
                line-height: var(--ztc-specing-height30);
                br{
                    display: none;
                }
            }
        }
      }
      
      .author-area {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
  
        .image {
          width: 60px;
        }
  
        .heading {
          text-align: start;
          .title{
            color: var(--ztc-text-text-1);
            font-size: var(--ztc-font-size-font-s24);
            line-height: var(--ztc-specing-height24);
            font-family: var(--ztc-family-font2);
            font-weight: var(--ztc-weight-bold);
            text-align: center;
        }
        .desc{
            color: var(--ztc-text-text-1);
            font-size: var(--ztc-font-size-font-s18);
            line-height: var(--ztc-specing-height18);
            font-family: var(--ztc-family-font1);
            font-weight: var(--ztc-weight-semibold);
            text-align: center;
        }
          p {
            color: #ffffffc5;
          }
          a {
            padding-bottom: 12px;
            display: inline-block;
  
            &:hover {
              color: #fff;
            }
          }
        }
      }
      
      .testimonial-nav {
       width: 536px;
       margin: 0 auto;
       padding-left: 25px;
       height: 70px;
        @media #{$xs} {
          padding-left: 0;
        }
      }
      
      .testimonial-sliders {
        position: relative;
        z-index: 2;
      }
      .testimonial-arrows {
        @media #{$xs} {
            display: flex;
            justify-content: center;
            margin-top: 30px;
        }
        @media #{$md} {
            display: flex;
            justify-content: center;
            margin-top: 30px;
        }
      }
      
      .testimonial-arrows > div {
        position: absolute;
        top: 40%;
        left: -120px;
        @media #{$xs} {
            position: relative;
            top: 0;
            left: 0;
            display: block;
            text-align: center;
        }
        @media #{$md} {
            position: relative;
            top: 0;
            left: 0;
            display: block;
            text-align: center;
        }
        @media #{$lg} {
            position: relative;
            top: 0;
            left: 0;
            display: inline-block;
            text-align: center;
        }
      }
      
      .testimonial-arrows .slick-arrow button {
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 59px;
        background: none;
        border-radius: 50px;
        transition: all 0.3s;
        border: 1px solid #867D86;
      }
      
      .testimonial-arrows .testimonial-next-arrow {
        left: auto;
        right: -120px;
        @media #{$xs} {
            right: -6px;
        }
        @media #{$lg,$md} {
            right: -6px;
        }
      }
  
      .testimonial-arrows .slick-arrow button:hover {
        transition: all 0.3s;
        background-color: var(--ztc-text-text-12);
      }
      .testimonial-arrows.testimonial-arrows-8 .slick-arrow button:hover {
        transition: all 0.3s;
        background-color: #FBD459;
      }
      
      .single-testimonial-nav.slick-slide {
        visibility: hidden;
        height: 80px !important;
        width: 80px !important;
      }
      
      .single-testimonial-nav.slick-slide.slick-active,
      .single-testimonial-nav.slick-slide.slick-active.slick-center {
        visibility: visible;
      }
      
      .single-testimonial-nav.slick-slide.slick-active {
        opacity: 0.6;
        transition: all 0.1s;
      }
      
      .single-testimonial-nav.slick-slide.slick-active.slick-center {
        opacity: 1;
        transition: all 0.1s;
        margin: 0px 8px;
      }
      
      .single-testimonial-nav.slick-slide img {
        display: block;
        border-radius: 50%;
        transition: all 0.1s;
        transform: scale(0.8);
        height: 80px;
        width: 80px !important;
        width: auto;
        margin: 0 auto;
      }
      
      .single-testimonial-nav.slick-slide.slick-center img {
        transition: all 0.1s;
        transform: scale(1);
        padding: 8px;
        border: 1px solid rgba(255, 255, 255, 0.603);
        border-radius: 50%;
      }
  }
  
.testimonial3-section-area.testimonial3-section-area-8:after {
    background: rgba(24, 23, 19, 0.90);
    backdrop-filter: blur(5px);
    opacity: 1;
}

.testimonial-arrows{
    margin-top: 30px;
}

// Testimonai Home-04
.vl-testimonial4.vl-testimonial-inner .smarrow.abarow.arrow-lft.slick-arrow {
    background: #F6F4EE !important;
}

.vl-testimonial4{
    background: var(--ztc-text-text-15);
    position:relative;
    overflow:hidden;
    z-index: 1;
    & .shape{
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        & img{
            height:100%;
            width:100%;
        }
    }
    & .vl-testimonial-content{
        margin-left: 33px;
        @media #{$lg,$md,$xs} {
            margin-left: 0px;
       }
        & .vl-section-title4{
            & .subtitle{
                background: rgba(255, 255, 255, 0.20);
                color:var(--ztc-text-text-1);
                transition: .3s;
            }
            & .title{
                color: var(--ztc-text-text-1);
                transition:.3s;
            }
            & .para{
                color: rgba(255, 255, 255, 0.90);
            }
            & .btn-area4{
                margin-bottom: 48px;
            }
        }
        & .icon-box-bg{
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.20);
            padding-top:24px;
            padding-bottom: 28px;
            padding-left:32px;
            padding-right:32px;
            transition:.3s;
            @media #{$lg}{
               padding-left:22px;
               padding-right:22px; 
            }
            &.active{
                background: var(--ztc-text-text-14);
                transition:.3s;
                & .icon{
                    & span{
                        background: var(--ztc-text-text-1);
                        & img{
                            filter: inherit;
                            transition:.3s;
                        }
                    }
                }
            }
            & .icon{
                & span{
                    border-radius: 50px;
                    background: rgba(255, 255, 255, 0.20);
                    height: 50px;
                    width: 50px;
                    line-height:50px;
                    text-align:center;
                    display: inline-block;
                    transition:.3s;
                    & img{
                        filter: brightness(0) invert(1);
                        transition:.3s;
                    }
                }
            }
            & .title{
                color:var(--ztc-text-text-1);
                font-size: var(--ztc-font-size-font-s44);
                line-height: var(--ztc-specing-height44);
                font-family: var(--ztc-family-font2);
                font-weight: var(--ztc-weight-bold);
                padding-top: 16px;
                padding-bottom: 12px;
                transition:.3s;
            }
            & span{
                color: rgba(255, 255, 255, 0.80);
                font-size: var(--ztc-font-size-font-s18);
                line-height: var(--ztc-specing-height18);
                font-family: var(--ztc-family-font1);
                font-weight: var(--ztc-weight-semibold);
                transition:.3s;
            }
            &.icon-box-bg2{
                background: var(--ztc-bg-bg-4);
                &.active{
                    background: var(--ztc-text-text-4);
                    transition:.3s;
                }
                & .icon{
                    & span{
                        border-radius: 50px;
                        background: var(--ztc-bg-bg-1);
                        & img{
                            filter: inherit;
                            transition:.3s;
                        }
                    }
                }
                & .title{
                    color:var(--ztc-text-text-3);
                }
                & span{
                    color: var(--ztc-text-text-3);
                }
            }
        }
    }

    & .testimonial-slides-wrap{
        overflow: hidden;
        ul.slick-dots button {
            font-size: 0;
            display: none;
        }
        & .slider-thumb{
            & .single-thumb{
                & img{
                    height: 550px;
                    width: 470px !important;
                    object-fit: cover;
                    border-radius: 8px;
                }
            }
        }
        & .slider-content-box{
            background: var(--ztc-text-text-1);
            padding: 32px;
            border-radius:8px;
            margin-left: 90px;
            margin-top: -216px;
            position: relative;
            z-index: 1;
            border: 1px solid rgba(0, 0, 0, 0.08);
            @media #{$md}{
                margin-bottom: 30px;
            }
            
            @media #{$xs} {
                margin-left: 0px;
                padding:18px;
                margin-bottom: 30px;
           }
            & .icon{
                & ul{
                    & li{
                        display: inline-block;
                    }
                }
            }
            & .para{
                padding-top: 13px;
                padding-bottom: 22px;
                color:var(--ztc-text-text-16);
                font-size: var(--ztc-font-size-font-s20);
                line-height: var(--ztc-specing-height30);
                font-family: var(--ztc-family-font1);
                font-weight: var(--ztc-weight-semibold);
            }
            & .slider-flex{
                display: flex;
                align-items: center;
                & .user{
                    & img{
                        height: 50px;
                        width:50px;
                        border-radius:50px;
                    }
                    margin-right:16px;
                }
                & .content{
                    & .title{
                        color:var(--ztc-text-text-15);
                        font-size: var(--ztc-font-size-font-s20);
                        line-height: var(--ztc-specing-height20);
                        font-family: var(--ztc-family-font2);
                        font-weight: var(--ztc-weight-bold);
                        display:block;
                        padding-bottom: 12px;
                        transition:.3s;
                        &:hover{
                            color: var(--ztc-text-text-14);
                            transition:.3s;
                        }
                    }

                    & span{
                        color:var(--ztc-text-text-15);
                        font-size: var(--ztc-font-size-font-s18);
                        line-height: var(--ztc-specing-height18);
                        font-family: var(--ztc-family-font1);
                        font-weight: var(--ztc-weight-semibold);
                    }
                }
            }
        }
    }
    & .slider-sm .slick-list {
        overflow: inherit;
    }
    & .smarrow.slick-arrow {
        background: var(--ztc-bg-bg-8);
        height: 48px;
        width: 48px;
        display: block;
        line-height: 48px;
        text-align: center;
        border-radius: 50px;
        right: 32px;
        bottom: 35px;
        cursor: pointer;
        font-size: 24px;
        transition:.3s;
        color:var(--ztc-text-text-15);
        &:hover{
            background: var(--ztc-text-text-14) !important;
            transition: .3s;
        }
        &.smarrow2{
            background:green;
        }
    }
    span.smarrow.smarrow2.abarow.arrow-lft.slick-arrow {
        background: #F6F4EE !important;
        &:hover{
            background: #FBD459 !important;
        }
    }
    span.smarrow.smarrow2.abarow.arrow-right.slick-arrow {
        background: #F6F4EE !important;
        &:hover{
            background: #FBD459 !important;
        }
    }
    span.smarrow.arrow-lft.slick-arrow {
        position: absolute;
        right: 96px;
        @media #{$xs} {
            right: 56px;
       }
    }
    span.smarrow.arrow-right.slick-arrow {
        position: absolute;
        right: 32px;
        z-index: 9;
        @media #{$xs} {
            right: 6px;
       }
    }
    &.vl-testimonial-inner{
        background: transparent;
        & .vl-testimonial-content{
            & .vl-section-title4{
                & .subtitle{
                    background: var(--ztc-bg-bg-4);
                    color: var(--ztc-text-text-3);
                }
                & .title{
                    color: var(--ztc-text-text-3);
                    font-size: var(--ztc-font-size-font-s44);
                    line-height: var(--ztc-specing-height54);
                    font-family: var(--ztc-family-font2);
                    font-weight: var(--ztc-weight-bold);
                    @media #{$lg}{
                        font-size: var(--ztc-font-size-font-s34);
                        line-height: var(--ztc-specing-height44);
                    }
                }
                & .para{
                    color: var(--ztc-text-text-2);
                    font-size: var(--ztc-font-size-font-s18);
                    line-height: var(--ztc-specing-height28);
                    font-family: var(--ztc-family-font1);
                    font-weight: var(--ztc-weight-semibold);
                }
            }
        }
        & .smarrow.slick-arrow {
            // background: red;
            height: 48px;
            width: 48px;
            display: block;
            line-height: 48px;
            text-align: center;
            border-radius: 50px;
            right: 32px;
            bottom: 35px;
            cursor: pointer;
            font-size: 24px;
            transition:.3s;
            color:var(--ztc-text-text-15);
            &:hover{
                background: var(--ztc-text-text-14) !important;
                transition: .3s;
            }
        }
    }
}

.mySwiper{
    & .swiper-slide{
        & img{
            transform: scale(.8);
        }
    }
    & .swiper-slide-active{
        & img{
            transform: scale(1);
        }
    }
}

.custom-nav {
    button {
      height: 60px;
      width: 60px;
      line-height: 60px;
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 50px;
      transition: 0.3s;
  
      &:hover {
        background: #0085ff;
        transition: 0.3s;
      }
  
      img {
        margin-top: -6px;
      }
    }
  
    button.custom-prev {
      position: absolute;
      z-index: 2;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      img {
        margin-top: -4px;
      }
      @media #{$md,$xs}{
        position: relative;
        transform: translateY(0);
      }
    }
  
    button.custom-next {
      position: absolute;
      z-index: 2;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      @media #{$md,$xs}{
        position: relative;
        transform: translateY(0);
      }
  
      img {
        margin-top: -4px;
      }
    }
  }
  
/*============= TESTIMONIAL CSS AREA ENDS ===============*/

section.vl-testimonial4.vl-testimonial-inner.testimonial2.sp2 .smarrow.abarow.arrow-lft.slick-arrow {
    background: #FBD459 !important;
}
.vl-testimonial4.vl-testimonial-inner.testimonial2 .smarrow.slick-arrow:hover {
    background: #FBD459 !important;
}

.vl-testimonial4.vl-testimonial-inner .smarrow.slick-arrow {
    background: #F6F4EE !important;
}

.vl-testimonial-content-wrap-6{
    & .vl-section-title-6{
        & .vl-title{
            padding-bottom: 0;
        }
    }
}


// Testimonial Area 8

.testimonial-shape8{
    position: absolute;
    top: 0;
    left: 0;
}

// testimonial area 9
.tp-test-slider-space2 {
    margin-right: -445px;
    @media #{$lg} {
        margin-right: 0px;
    }
    @media #{$md,$xs} {
        margin-right: 0px;
    }
}
.vl-testimonial-area-9{
    background: var(--ztc-text-text-26);
}

.testimonial9Swiper .swiper-pagination {
    position: relative;
    margin-top: 40px;
}

.swiper.testimonial9Swiper {
    overflow: hidden;
}
.testimonial9Swiper .swiper-pagination-bullet {
    background: #DFDDDE;
    opacity: 1;
    height: 12px;
    width: 12px;
}
.testimonial9Swiper .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: var(--ztc-text-text-23);
}

// testimonial home 10

.vl-testimonial-area-10{
    background: var(--ztc-bg-bg-9);
    padding-top: 245px;
    padding-bottom: 100px;
    margin-top: -145px;
    @media #{$md,$xs}{
        margin-top: 0;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.vl-testimonial-wrap-box-10{
    position: relative;
    .vl-testimonial-box-auth .vl-auth-desc .auth-title .title a:hover{
        color: var(--ztc-text-text-28);
        transition: .3s;
    }
}

.vl-testimonial-thumb-10 img {
    height: 484px;
    object-fit: contain;
    @media #{$md,$xs} {
        margin-bottom: 40px;
    }
}



.vl-testimoial-pagination-10 {
    position: absolute;
    right: 40px;
    z-index: 1;
    bottom: 55px;
    & .vl-review-button {
        display: inline-block;
        background: var(--ztc-bg-bg-9);
        &:hover{
            background: var(--ztc-text-text-28);
            transition: all 0.3s;
            & span{
                & img{
                    filter:brightness(0) invert(1);
                    transition: all 0.3s;
                }
            }
        }
    }
}